.title{
    margin-top: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center
}
.title1, .title2, .title3{
    position: relative;
    margin: 0 10px;
}
.title1 h3,
.title2 h3,
.title3 h3{
    font-weight: 900;
    color: white;
    font-size: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,0);
}
.box{
    box-sizing: border-box;
    position: relative;
    border-radius: 30px;
    margin: 30px auto;
    width: 100%;
   z-index: 1;
    border: 5px solid #1486cf ;
    border-left: 90px solid #1486cf;
    max-height: 400px; /* 設定最大高度 */
   overflow-y: auto;
}
.text-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: -3%;
}
.text-right h3{
    font-weight: 900;
    color: white;
    font-size: 20px;
}
.text-right p{
    font-weight: 900;
    color: white;
    font-size: 40px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.main-text{
    max-width: 100%;
    height: auto;
    width: 88%;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 陰影樣式，可以根據需要調整 */
}
.mian-right{
    padding-left: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-text1{

    justify-content: space-around;
       max-width: 100%;
       height: auto;
       width: 100%;
       display: flex;
       align-items: center;
       box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 陰影樣式，可以根據需要調整 */
}
.main-item1{
    margin-left: 20px;
}
.main-item1 label{
    font-size: 20px;
}

.main-item2{
    margin-top: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.main-item2 h4{
    font-weight: 900;
    margin-bottom: 0;
    color: #1486cf;
    font-size: 15px;
}
.main-item2 p{
    font-weight: 900;
    font-size: 20px;
    color: #373737;
}
.main-item-2{
    margin-left: 3em;
}
.main-item3{
    padding-left: 10em;
}
.main-item3 button{
    border: 3px solid #1486cf;
    border-radius: 30px;
background-color: white;
}
.checkbox{
    margin-right: 10px;
}
  .main-text {
    margin-bottom: 20px; /* 設定每個 main-text 之間的間距 */
  }



