<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- style -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/css/home.css">
  <link rel="stylesheet" href="../assets/css/feature.css">
  <!-- js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <script src="../assets/map.js"></script>
</head>

<body>
  <div class="headerbf">

  </div>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light mx-2">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/logo.png" alt="Logo">
    </a>
    <button class="navbar-toggler snow" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav " id="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="#">最新消息</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">關於我們</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">健檢項目/價格</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">網路預約</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">常見問題</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">檢前飲食</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">聯絡我們</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">員工問卷</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="../assets/img/tel.png" alt="" class="tel w-100">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="../assets/img/會員.png" alt="" class="member w-100">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="../assets/img/購物車.png" alt="" class="shop w-100">
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <select class="form-control mr-sm-2" name="" id="">
          <option value="EN">EN</option>
          <option value="EN">TW</option>
        </select>
      </form>
    </div>
  </nav>

  <div class="container-fluid about" style="position: relative;">
    <h1>我們的特色</h1>
    <p>our feature</p>
    <img src="../assets/img/newbg.png" alt="" class="w-100">
  </div>
  <div class="container">
    <div class="about-main">
      <div class="about-text">
        <ul>
          <li><h1>1</h1><p>全國最優質的健檢團隊</p></li>
          <img src="../assets/img/Ellipse 2.png" alt="">
          <li><h1>2</h1><p>醫學中心主治醫師專人檢查並負責報告解說 </p> </li>
          <img src="../assets/img/Ellipse 2.png" alt="">
          <li><h1>3</h1><p>醫學中心教授及主治醫師負責內視鏡檢查施作</p></li>
        </ul>
      </div>
      <div class="about-text">
        <ul>
          <li><h1>4</h1><p>全國最優質的健檢團隊 </p> </li>
          <img src="../assets/img/Ellipse 2.png" alt="">
          <li><h1>5</h1><p>醫學中心主治醫師專人檢查並負責報告解說 </p> </li>
        </ul>
      </div>
    </div>
  </div>
   <div class="container container-img ">
       <img src="../assets/img/about_img.png" alt="" class="w-100">
       <div class="row">
        <div class="col-md-6 col-12">
          <img src="../assets/img/about_img2.png" alt="" class="w-100">
        </div>
        <div class="col-md-6 col-12">
          <img src="../assets/img/about_img3.png" alt="" class="w-100">
        </div>
       </div>
       <div class="row">
        <div class="col-md-4 col-12">
          <img src="../assets/img/about_img3.png" alt="" class="w-100">
        </div>
        <div class="col-md-4 col-12">
          <img src="../assets/img/about_img2.png" alt="" class="w-100">
        </div>
        <div class="col-md-4 col-12">
          <img src="../assets/img/about_img3.png" alt="" class="w-100">
        </div>
       </div>
   </div>
   
   <div class="container" style="overflow: x;">
     <div class="title">
      <h1>環境介紹</h1>
      <img src="../assets/img/Line 9.png" alt="" class="w-100">
     </div>
    <div class="row m-2">
      <div class="col-md-4">
        <img src="../assets/img/Rectangle 13.png" alt=""  class="w-100">
      </div>
      <div class="col-md-4">
        <img src="../assets/img/Rectangle 14.png" alt=""  class="w-100">
      </div>
      <div class="col-md-4">
        <img src="../assets/img/Rectangle 15.png" alt=""  class="w-100">
      </div>
    </div>
   </div>
   



  <!-- footer -->
  <div class="footer">
    <div class="footer-bg">
      <div class="container">
        <ul class="footer-nav">
          <li><a href="news.php">最新訊息</a></li>
          <li><a href="info.php">關於我們</a></li>
          <li><a href="c01.php">健檢項目/價格</a></li>
          <li><a href="reserve.php">網路d預約</a></li>
          <li><a href="qa.php">常見問題</a></li>
          <li><a href="health.php">檢前飲食</a></li>
          <li><a href="contact.php">聯絡我們</a></li>
          <li><a href="news_en.php">ENGLISH</a></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="footer-box">
        <p>地址：112 台北市北投區石牌路二段201號中正樓15樓</p>
        <p>TEL：02-28757225 <span>(一日、二日健檢)</span> ‧ 02-28712121#1033 <span>(將官體檢)</span></p>
        <p>因服務電話使用量大，請善用聯絡我們</p>
        <p>FAX：02-28757383</p>
        <p>No.201,Shipai Road Sec 2, Taipei,112,Taiwan</p>
        <p>TEL:+886-2-28757225</p>
      </div>
      <div class="footer-box">
        <ul>
          <li><img src="../assets/img/z01.png" alt="" width="50px" height="50px">
            <a href="" class="footerboxa">檢查項目與價格介紹</a>
          </li>
          <li><img src="../assets/img/z02.png" alt="" width="50px" height="50px"><a href="" class="footer-boxa">網路預約</a>
          </li>
          <li><img src="../assets/img/z03.png" alt="" width="50px" height="50px"><a href=""
              class="footerboxa">健檢預約服務專線</a></li>
          <li><img src="../assets/img/z04.png" alt="" width="50px" height="50px"><a href="" class="footer-boxa">聯絡我們</a>
          </li>
        </ul>
      </div>
      <!--- @ 20221226 ,joe. add --->
      <div class="footer-box"></div>
      <p class="visitCount">
        <span>瀏覽人次:27321</span> <span> , </span> <span>今日頁面瀏覽次數:1229</span>
      </p>
    </div>

    <div class="clearfix"></div>
    <p class="copyright">本網站內容所有權歸臺北榮民總醫院所有，請尊重智慧財產權，未經允許請勿任意轉載、複製或做商業用途，禁止任何網際網路服務業者轉錄本網站資訊之內容。</p>
  </div>
  <div class="gototop"><a href="#"><img src="../assets/img/gogotop.png" class="img-responsive"></a></div>

</body>

</html>